[credential "https://github.com"]
	helper = !gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Anselm Schüler
	email = git@anselmschueler.com
